# PROBABILITY

Eg 1- probability of getting 3 when a die is rolled

In [1]:
# probability of getting 3 when a die is rolled
ns = 6          #n(S) = {1,2,3,4,5,6}
na = 1          #n(A) ={3}
pa = na/ns      #P(A)
print("probability of getting 3 is:",pa)

probability of getting 3 is: 0.16666666666666666

Eg 2- Probability of atleast getting one head when a coin is tossed thrice

In [2]:
ns = 8      #n(S) ={HHH,HHT,HTH,THH,TTH,THT,HTT,TTT}
na = 7      #n(A) ={HHH,HHT,HTH,THH,TTH,THT,HTT}
pa = na/ns      #P(A)
print("probability of getting atleast one head is:",pa)

probability of getting atleast one head is: 0.875

Eg 3- A glass jar contains 5 red, 3 blue, and 2 green jelly beans.If a jelly bean is chosen at random from the jar,what is the probability that it is not true?

In [3]:

ns = 10          #n(S) = {5 red, 3 blue, 2 green}
na = 7          #n(A) ={5 red, 2 green}
pa = na/ns      #P(A)
print("probability of getting not blue jellybean is:",pa)

probability of getting not blue jellybean is: 0.7

# Independent and Dependent Events

In [4]:
#If the probability that person A will be alive in 20 yearsis 0.7 and the probability that person B will be alive in
#20 years is 0.5, what is the probability that they will
#both be alive in 20 years?
#These are independent events so,

P = 0.7*0.5
print("probability that they will be alive after 20 years is:",P)

probability that they will be alive after 20 years is: 0.35

In [5]:
def event_probability (n,s):
   return n/s

In [6]:
#A fair die is tossed twice. Find the probability of getting a 4 or 5 the first toss and a 1,2,or 3 in the second toss.

pa = event_probability(2,6)    #probability of getting 4 or 5 
pb = event_probability(3,6)    #probability of getting 1,2, or 3
P = pa*pb
print("probability of getting a 4 or 5 the first toss and a 1,2,or 3 in the second toss is:",P)

probability of getting a 4 or 5 the first toss and a 1,2,or 3 in the second toss is: 0.16666666666666666

In [7]:
# A bag contains 5 white marbles, 3 black marbles and 2 green marbles. In each draw, a marble is drawn from the bag
# and not replaced. In three draws, find the probability of obtaining white, black and green in  that order.

pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("the probability of obtaining white, black and green in  that order is:",pw*pb*pg)

the probability of obtaining white, black and green in  that order is: 0.041666666666666664

In [8]:
#Sample space
cards = 52

#Calculate the probability of drawing a heart or a club
hearts =13
clubs =13
heart_or_club= event_probability(hearts,cards)+event_probability(clubs,cards)
print(heart_or_club)

0.5

In [9]:
#Calculate the probability of drawing an ace, king or queen
aces = 4
kings= 4
queens =4
ace_king_or_queen =event_probability(aces,cards) + event_probability(kings,cards) + event_probability(queens,cards)

print(ace_king_or_queen)

0.23076923076923078

In [10]:
#Calculate the probability of drawing heart or ace
hearts =13
aces =4
ace_of_hearts= 1
heart_or_ace = event_probability(hearts,cards) + event_probability(aces,cards) -event_probability(ace_of_hearts,cards)
print(round(heart_or_ace, 1))

0.3

In [11]:
#Calculate the probability of drawing red card or face card

red_cards = 26
face_cards = 12
red_face_cards = 6

red_or_face_cards = event_probability(red_cards,cards) +event_probability(face_cards,cards)- event_probability(red_face_cards,cards)
print(round(red_or_face_cards,1))    #probability rounded to one decimal place

0.6

# Complementory Events

In [12]:
#Probability of not getting 5 when a fair die is rolled
ns = 6          #n(S) = {1,2,3,4,5,6}
na = 1          #n(A) ={5}
pa = na/ns      #P(A)
print("probability of getting 3 is:",1-pa)

probability of getting 3 is: 0.8333333333333334

# Conditional Probability

P(A|B) =P(A OR B) /P(B)

In [13]:
import pandas as pd
import numpy as np
df = pd.read_csv('D:/FDS Prac/student-mat.csv')
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [14]:
len(df)

395

Make another boolena column called high_absences with a vlue of 1 if a student missed 10 or more classes

We are only concerned with the columns,absences(number of absences),and 
and G3(final garde from 0 to 20).

Let us create a couple new boolean columns based on these columns to make our lives easier.

Add a boolean column called grade_A nothing if a student achieved 80% or higher as a afinal score.
Original values are on 0to 20 scale so we multiply by 5

In [15]:
df ['grade_A'] = np.where(df['G3']*5 >=80,1,0)

In [16]:
df['high absences'] = np.where(df['absences'] >= 10,1,0)
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A,high absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,0,1

Add one more column to make building a pivot table easier

In [17]:
df['count'] =1

And drop all columns we don't care about

In [18]:
df = df[['grade_A','high absences','count']]
df.head()

   grade_A  high absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

Now we will create pivot table from this

In [19]:
final = pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns=['high absences'],
    aggfunc=np.size,
    fill_value=0
)

In [20]:
print(final)

high absences    0   1
grade_A
0              277  78
1               35   5

In [ ]:
# In Mathematical Way
Calculate the probability the student will get grade A given that missing 10 or more classes
We now have all the data we need to do our calculation.Lets start by claculating each individual part in the formula.
In our case:P(A) is the probability of a grade of 80% or greater.
    P(B) is the  probability of missing 10 or more classes.
    P(A|B) is the  probability of a 80%+ grade,given  missing 10 or more classes.
    
    P(A) =(35+5)/(277+78+35+5) = 0.1012
    P(B) =(78+5)/(277+78+35+5) = 0.2101
    P(A OR B) =5/(277+78+35+5) = 0.0126
    
    P(A|B) = P(A OR B)/P(B)=0.060
    The probability of getting at least an 80% final grade, given  missing 10 or more classes is 6%

In [22]:
#In Python
    
total = 277+78+35+5
p_a=(35+5)/total
p_b=(78+5)/total
p_a_or_b=5/total
p_a_given_b= p_a_or_b/p_b

print('P(A) =%.3f%%' % ( p_a*100))
print('P(B) =%.3f%%' % ( p_b*100))
print('P(A OR B) =%.3f%%' % ( p_a_or_b*100))
print('P(A/B) =%.3f%%' % ( p_a_given_b*100))

P(A) =10.127%
P(B) =21.013%
P(A OR B) =1.266%
P(A/B) =6.024%

# COMBINATORICS:
# Permutations,Variations & Combinations

With Repetition

In [23]:
import itertools
from itertools import product
box_1=['g','b']
perm=[]
for p in itertools.product(box_1, repeat=2):
    perm.append(p)
    
perm

[('g', 'g'), ('g', 'b'), ('b', 'g'), ('b', 'b')]

In [24]:
import itertools
from itertools import product
box_2=['g','b','y']
perm=[]
for p in itertools.product(box_1, repeat=3):
    perm.append(p)
    
perm

[('g', 'g', 'g'),
 ('g', 'g', 'b'),
 ('g', 'b', 'g'),
 ('g', 'b', 'b'),
 ('b', 'g', 'g'),
 ('b', 'g', 'b'),
 ('b', 'b', 'g'),
 ('b', 'b', 'b')]

Without Repetition

In [25]:
import itertools

box_1 = ['g','b']
perm = itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b')
('b', 'g')

In [26]:
import itertools

box_2 = ['g','b','y']
perm = itertools.permutations(box_2)

for i in list(perm):
    print(i)

('g', 'b', 'y')
('g', 'y', 'b')
('b', 'g', 'y')
('b', 'y', 'g')
('y', 'g', 'b')
('y', 'b', 'g')

# Variations

In [27]:
#With Repetition

box_1=['g','b','y']
perm=[]
for p in itertools.product(box_2, repeat=2):
    perm.append(p)
    
perm

[('g', 'g'),
 ('g', 'b'),
 ('g', 'y'),
 ('b', 'g'),
 ('b', 'b'),
 ('b', 'y'),
 ('y', 'g'),
 ('y', 'b'),
 ('y', 'y')]

In [28]:
#Without Repetition

box_2 = ['g','b','y']
perm = itertools.permutations(box_2,2)

for i in list(perm):
    print(i)

('g', 'b')
('g', 'y')
('b', 'g')
('b', 'y')
('y', 'g')
('y', 'b')

# Combinations

With Repetition:

The number of possible combinations(with repetition) is given by:
    
    C(n,k) = (n+k-1)!/k!(n-1)!

In [29]:
from itertools import combinations_with_replacement

box_1=['g','b']
comb = combinations_with_replacement(box_1,2)

for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('b', 'b')

In [30]:
from itertools import combinations_with_replacement

box_1=['g','b','y','w']
comb = combinations_with_replacement(box_1,2)

for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('g', 'y')
('g', 'w')
('b', 'b')
('b', 'y')
('b', 'w')
('y', 'y')
('y', 'w')
('w', 'w')

Without Repetition

In [31]:
from itertools import combinations
box_1=['b','g']
comb = combinations(box_1,2)

for i in list(comb):
    print(i)

('b', 'g')

In [32]:
from itertools import combinations
box_1=['b','g','y']
comb = combinations(box_1,2)

for i in list(comb):
    print(i)

('b', 'g')
('b', 'y')
('g', 'y')